// colors
// Colors
$white: #FFF;
$black: #000;
$charcoal: #282B2D;
$snow: #F5F5F5;


// Fonts
$primary-font: 'DM Sans', sans-serif;

// Text Styles
$small-text: 200 1rem/1.4 $primary-font;
$large-text: 700 2rem/1.2 $primary-font;
$title-text: 300 4rem/1.4 $primary-font;
$paragraph-text: 300 1.3rem/1.3 $primary-font;
$button-text: 400 1rem/1.3 $primary-font;

// Breakpoints
$mobile-width: 720px;
$tablet: 768px;








