@import '@styles/theme.module.scss';

.root {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Use min-height for better responsiveness */
    opacity: 1;
    border-radius: 0;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1em; /* Use 'em' for scalable spacing */
    width: 100%; /* Full width of the container */
    max-width: 25em; /* Use 'em' for scalable dimensions */
    opacity: 1;
    border-radius: 0;
}

.textarea {
    resize: vertical;
    font-weight: 300;
    opacity: 1;
    background-image: linear-gradient(white, white);
    background-position: 0%;
    background-size: auto;
    background-repeat: repeat;
    background-attachment: scroll;
    background-origin: padding-box;
    background-clip: border-box;
    border-radius: 40px;
    font-size: 20px;
    border: 0px solid rgb(204, 204, 204);
    padding: 20px;
    min-height: 20px;
}

input,
textarea,
button {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 0px;
}

.contactform {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.formmessage {
}
