@import '@styles/theme.module.scss';

.root {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Take up full viewport height */
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%; /* Full width of the container */
    max-width: 400px; /* Maximum width of the form */
}

.textarea {
    resize: vertical;
    min-height: 100px;
    font-weight: 300;
    font-size: 25px;
}

input,
textarea,
button {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 0px;
}

button {
    // Removed specific button styles that will be replaced by home-page stylesmargin:5px;margin:5px;margin-top:5px;padding-top:15px;padding-top:1px;padding-top:1215px;padding-top:1px;margin:10px;margin:10px;
}
