@import '@styles/theme.module.scss';
.root {
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading {
    margin-bottom: 20px;
}

.imageCloud {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 80vw;
    column-gap: 20px;
    row-gap: 0px;
}

img {
    max-width: 100px; // Adjust the size as needed
    height: auto;
    filter: grayscale(100%);
}
