@import '@styles/theme.module.scss';
.root {
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(white, white);
    background-position: 0%;
    background-size: auto;
    background-repeat: repeat;
    background-attachment: scroll;
    background-origin: padding-box;
    background-clip: border-box;
}

.heading {
    margin-bottom: 20px;
    font-weight: 100;
    font-size: 20px;
}

.imageCloud {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 80vw;
    column-gap: 20px;
    row-gap: 0px;
}

.imageCloud img {
    max-width: 100px; // Adjust the size as needed
    height: auto;
    filter: grayscale(100%);
}
