@import '@styles/theme.module.scss';

.root {
    display: flex;
    flex-direction: row;
    padding: 0 3em; // Unify padding for left and right
    justify-content: space-between;
    align-items: center;
    height: 4em;
    font: $button-text;
    background-color: $white; // Use variable for consistency
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Ensure the header is above other content */

    @media only screen and (max-width: $mobile-width) {
        padding: 0 3em;
    }
    transition: top 0.3s ease-in-out;
    &.hidden {
        top: -100%; /* Hide the header off-screen */
    }
    border-radius: 0px 0px 40px 40px;
    opacity: 1;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); // Add a subtle shadow
    border: none; // Remove border for a cleaner look
}

.menu {
    display: flex;
    column-gap: 2rem;
    font: $button-text;
    color: $black;
}

.active {
    color: $black;
    font-weight: 600;
}
.blaidelogo {
    width: 75px;
}
