@import '@styles/theme.module.scss';

.root {
    display: flex;
    flex-direction: row;
    padding-left: 3em;
    justify-content: space-between;
    padding-right: 3.5em;
    align-items: center;
    height: 4em;
    font: $button-font;
    background-color: white; /* Fully transparent */ /* Make the header stay at the top of the page */
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Ensure the header is above other content */
    font: $button-font; /* Fully transparent */

    @media only screen and (max-width: $mobile-width) {
        padding: 0 3em;
    }
    border-radius: 0;
    opacity: 0.8;
    position: fixed;
    transition: top 0.3s ease-in-out;
    background-image: none;
}

.menu {
    display: flex;
    column-gap: 2rem;
    font: $button-font;
}

.active {
    color: $black;
    font-weight: 600;
}
.blaidelogo {
    width: 100px;
}
