@import '@styles/theme.module.scss';

.root {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-right: 3.5em;
    padding-left: 3em;
    padding-top: 2em;
    padding-bottom: 1.2em;
    opacity: 0.9;
    opacity: 0.7;
    opacity: 1;
    background-color: white; // Make the background transparent
    background-position: 0%;
    background-size: auto;
    background-repeat: repeat;
    background-attachment: scroll;
    background-origin: padding-box;
    background-clip: border-box;
    border-radius: 40px 40px 0px 0px;
    @media only screen and (max-width: $mobile-width) {
        flex-direction: column;
        row-gap: 24px;
    }
}

.social {
    display: flex;
    height: 30px;
    column-gap: 0.8em;
}

.small {
    font: $small-text; // Corrected variable name
    margin-top: 18px;
}

.icon {
    width: 30px;
    height: 30px;
}

@media only screen and (max-width: $mobile-width) {
    .root {
        flex-direction: column;
        row-gap: 24px;
    }
}
