@import '@styles/theme.module.scss';
.root {
    display: flex;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

    margin: 0 auto; /* Center the grid in the viewport */
    gap: 20px;
    justify-content: center;
    padding: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100vw;
}
