@import '@styles/theme.module.scss';
.root {
    display: block;
    position: relative;
    max-width: 100%;
    margin: 0 auto; /* Center the section in the viewport */
    padding: 20px;
    box-sizing: border-box;
    height: 100vh;
}

.carousel {
    overflow: hidden;
    position: relative;
    width: 100%;
}

.carouselControls {
    text-align: center;
    margin-top: 20px;
}

.carouselControlPrev,
.carouselControlNext {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    font-size: 24px;
    height: 50px; /* Adjust line-height to vertically center the text */
    margin: 0 10px;
    width: 50px;
    position: relative;
    top: -10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    text-align: center;
    direction: ltr;
    line-height: 0px;
}

@media (min-width: 768px) {
    .root {
        padding: 40px;
    }
}
