@import '@styles/theme.module.scss';
$tablet-width: 768px; // Define the tablet-width variable if it's not defined in the theme.module.scss

 .root {
    display: flex;
    width: 100%;
    padding: 0;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
 }

 .carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    @media (max-width: $tablet-width) {
        flex-direction: column;
    }
 }

 .carouselControls {
    display: flex;
    justify-content: center;
    margin-top: 20px;
 }

 .carouselControlPrev,
 .carouselControlNext {
    background-color: $white;
    border: 1px solid $charcoal-black;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    height: 50px;
    width: 50px;
    margin: 0 10px;
    position: relative;
    top: -10px;
    user-select: none;
    touch-action: manipulation;
 }

@media (min-width: 768px) {
    .root {
        padding: 40px;
    }
}
